.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.letters {
    border: 1px solid black;
}

#word{
    border: 1px solid black;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

#finalMsg {
    display: none;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: chartreuse;
}